@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* THEME: Deep Navy (Matches your screenshots) */
  --bg-primary: #181818; 
  
  /* Text: Lightest Slate (Off-white for headings) */
  --text-primary: #ffffff;
  
  /* Text: Slate (Muted blue-grey for body text) */
  --text-secondary: #ffffff;
  
  /* Accent: Mint Teal (The exact green/teal from the reference) */
  --accent: #a3b1dd; 

/* Highlight: Mint Teal (For lines, bars, and structural pops) */
  --bg-accent: #6c8fff;
}

body {
  color: var(--text-primary);
  background: var(--bg-primary);
  font-family: var(--font-sans);
  scroll-behavior: smooth; 
}

.text-accent{
  color: #6c8fff;
 }

/* Custom Scrollbar to match the Navy theme */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--bg-primary);
}
::-webkit-scrollbar-thumb {
  background: #112240; /* Lighter Navy for the scroll handle */
  border-radius: 5px;
  border: 2px solid var(--bg-primary); /* Adds padding effect */
}
::-webkit-scrollbar-thumb:hover {
  background: #233554; /* Slightly lighter on hover */
}

/* Selection color (when you highlight text) */
::selection {
  background: #212637; /* Tint of the teal accent */
  color: var(--accent);
}